.heartIcon {
  transition:
    fill 0.3s ease,
    stroke 0.3s ease,
    color 0.3s ease;
}

.heartFilled {
  fill: var(--color-red);
  color: var(--color-red);
}

.heartEmpty {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  color: var(--color-white);
}

/* Clase explícita para el corazón en blanco */
.heartWhite {
  fill: var(--color-white) !important;
  color: var(--color-white) !important;
  stroke: var(--color-white) !important;
}
