.loadingOverlay {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-black);
  text-align: center;
  padding: var(--space-sm);
}
